/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid layout.
 */

.page {
  padding:1em;
  text-align: center;
}

header {
  margin-bottom:2em;
  width: 100%;
}